@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;600&display=swap');

@mixin rounded{
    border-radius: 15px;
}

$themeColor: #ff3150;
$light: #fff;
$dark: #333;

*, *::before, *::after{
    box-sizing: border-box;
}

html, body, input, button{
    font-family: 'Readex Pro', sans-serif;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5em;
}

input, button{
    @include rounded();
    font-size: 1em;
    padding: 1em;

}

input{
    border: 1px solid $dark;
}

button{
    font-weight: 600;
    background-color: $dark;
    color: $light;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: $themeColor;
    }
}

.results{
    display: flex;
    flex-wrap: wrap;
}

.result{
    @include rounded();
    background-color: $themeColor;
    color: white;
    padding: .8em 1.2em;
    font-size: 1.2em;
}

.results-wordcount{
    color: $themeColor;
}

.results-container{
    display: none;
    padding-top: 1em;
    border-top: 1px solid $themeColor;
}

.img-holder{
    display: none;
    justify-content: center;
    align-items: center;
}
.loading{
    max-width: 50px;
}

@supports (gap: .5em){
    form, .results, .img-holder{
        gap: .6em;
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading {
    -webkit-animation: rotating 1.5s linear infinite;
    -moz-animation: rotating 1.5s linear infinite;
    -ms-animation: rotating 1.5s linear infinite;
    -o-animation: rotating 1.5s linear infinite;
    animation: rotating 1.5s linear infinite;
  }